
.navbar{
    
    color:white!important;
    align-content: center!important;
}

 
.col-sm-4{
    background:grey;
      
}

/* .col-sm-8{
    width: 100%;

} */
.container{
    margin: 0px;
    width: 100%;
    padding-bottom: 100%;
      
}

button{
    padding-bottom: 5Px;
    padding-left: 10px;
    background: mediumblue;

}

input[type=text]{

    padding-left: 30%;
    padding-bottom: 5Px; 
}

.city{
    margin-top:5px;
}
  .history{
     padding-bottom: 100%;
 }
  